<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Helpme765</servlet-name>
		<servlet-class>com.appspot.helpme765pro.Helpme765Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Helpme765</servlet-name>
		<url-pattern>/helpme765</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TwilioCallServlet</servlet-name>
		<servlet-class>com.appspot.helpme765pro.TwilioCallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwilioCallServlet</servlet-name>
		<url-pattern>/call</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VoiceRequestServlet</servlet-name>
		<servlet-class>com.appspot.helpme765pro.VoiceRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VoiceRequestServlet</servlet-name>
		<url-pattern>/voice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PageRenderingServlet</servlet-name>
		<servlet-class>com.appspot.helpme765pro.PageRenderingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageRenderingServlet</servlet-name>
		<url-pattern>/createvoice</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
